#navegacion{
    background-color: rgb(255, 255, 240);
}

#mapouter{
    position: relative;
    text-align: right;
    height: 560px;
    width: 820px;
}

#gmap_canvas{
    overflow: hidden;
    background: none !important;
    height: 260px;
    width: 520px;
    border-radius: 3%;
}

#map {
    height: 100%;
  }